#nav-icon {
    width: 30px; /* Adjust width */
    height: 25px; /* Adjust height */
    position: relative;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px; /* Adjust height */
    width: 100%;
    background: var(--color-white); /* Set default color to white */
    opacity: 1;
    left: 0;
    transform: rotate(0deg) scale(0.9); 
    transition: 0.25s ease-in-out;
  }
  
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 10px; /* Adjust top position */
  }
  
  #nav-icon span:nth-child(4) {
    top: 20px; /* Adjust top position */
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 10px; /* Adjust top position */
    width: 0%;
    left: 50%;
    transform: rotate(0deg) scale(0); 
  }
  
  #nav-icon.open span:nth-child(2) {
    transform: rotate(45deg) scale(0.8); 
  }
  
  #nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg) scale(0.8); 
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 10px; /* Adjust top position */
    width: 0%;
    left: 50%;
    transform: rotate(0deg) scale(0); 
  }
  
  /* Hover effect */
  #nav-icon:hover span {
    background: var(--color-yellowMain); /* Change background color on hover */
  }
  